h3{
    background-image: linear-gradient(
        to right,
        red,
        green,
          yellow    
        );
        text-align: center;
        text-decoration: underline;
}
.unorder{
    background-color: skyblue;
    border: 3px solid red;
    border-radius: 5px;
    width: 600px;
    height: 80px;
    position: relative;
    left: 350px;
    text-align: center;
}
.grid-container{
  background-color: aqua;
  display: grid;
  border-radius: 5px;
  border: 1px solid rgb(19, 196, 19);
  grid-template-columns: auto auto auto;
}
.grid{
  background-color: aqua;
  border: 2px solid lightgreen;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.r{
  grid-column-start: 2;
  grid-column-end: 3;
}

h4{
  height: 25px;
  background-image:radial-gradient(
     yellow,
     red
  );
  text-align: center;
}
.flex-container{
  background-image: radial-gradient( 
     blue 30%,
     lightgreen 
  );
  display: flex;
  justify-content: space-around;
  height: 150px;
}
.flex{
  background-color: yellow;
  border: 1px solid brown;
   height: 55px;
   text-align: center;
   padding: 10px;
   color: brown;
  border-radius: 10px;
  margin: 40px;
  font-weight: bold;
}
.grid-container1
{
  background-color: white;
  border:1px solid grey;
  display: grid;
  grid-template-columns:auto auto auto auto ;
 
}
.grid1{
  color: white;
  font-weight: bold;
  margin: 5px;
  
}
.one{
  background-color: rgb(224, 54, 54);
  text-align: center;
  height: 30px;
  grid-column-start: 1;
  grid-column-end: 5;
}
.two{
  background-color: rgb(83, 216, 83);
  grid-column-start: 1;
  grid-column-end: 2;
}
.three{
  background-color: rgb(87, 175, 209);
  grid-column-start:2 ;
  grid-column-end: 3;
}
.four{
  background-color: rgb(43, 46, 226);
  grid-column-start:3 ;
  grid-column-end: 4;
}
.five{
  background-color: rgba(0, 0, 0, 0.74);
  grid-column-start:4 ;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;

}
.six{
  background-color: orange;
  grid-column-start:1 ;
  grid-column-end: 4;
}
.seven{
  background-color: skyblue;
  color: black;
   grid-column-start:1 ;
  grid-column-end: 5;
  text-align: center;
}
